<div class="dialog-wrapper">
  <div class="dialog-content">
    <h5 class="mb-3">{{ selectDatesText }}</h5>

    <div class="row gx-2 mb-3">
      <div class="col">
        <button
          nighthawkButton
          type="button"
          [color]="method === 'date' ? 'primary' : 'dark'"
          [rounded]="true"
          [border]="true"
          size="small"
          class="w-100"
          (click)="method = 'date'"
        >
          {{ selectADateText }}
        </button>
      </div>
      <div class="col">
        <button
          nighthawkButton
          type="button"
          [color]="method === 'range' ? 'primary' : 'dark'"
          [rounded]="true"
          [border]="true"
          size="small"
          class="w-100"
          (click)="method = 'range'"
        >
          {{ selectARangeText }}
        </button>
      </div>
    </div>

    <form class="mb-5">
      @if (method === "date") {
        <label for="date" class="d-block mb-2"> {{ selectADateText }} </label>
        <nighthawk-date-selector
          id="date"
          color="primary"
          [rounded]="true"
          [border]="true"
          [fullWidth]="true"
          [(ngModel)]="selectedDate"
          [yearOptions]="years"
        />
      } @else {
        <label for="startDate" class="d-block mb-2"> {{ selectAStartDateText }} </label>
        <nighthawk-date-selector
          id="startDate"
          color="primary"
          [rounded]="true"
          [border]="true"
          [fullWidth]="true"
          class="d-block mb-3"
          [(ngModel)]="startDate"
          [yearOptions]="years"
        />

        <label for="endDate" class="d-block mb-2"> {{ selectAnEndDateText }} </label>
        <nighthawk-date-selector
          id="endDate"
          color="primary"
          [rounded]="true"
          [border]="true"
          [fullWidth]="true"
          [(ngModel)]="endDate"
          [yearOptions]="years"
        />
      }
    </form>

    <div class="row">
      <div class="col-auto">
        <button nighthawkButton type="button" color="primary" [rounded]="true" [border]="true" (click)="clear()">
          {{ clearText }}
        </button>
      </div>

      <div class="col text-end">
        <button nighthawkButton type="button" class="me-2" color="dark" [rounded]="true" [border]="true" (click)="dialogRef.close(false)">
          {{ closeText }}
        </button>

        <button nighthawkButton type="button" color="primary" [rounded]="true" [border]="true" (click)="submit()">
          {{ submitText }}
        </button>
      </div>
    </div>
  </div>
</div>
